<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
</head>
<body>
    <div class="container">
        <h1 class="title">★익명 채팅방★</h1>
        <ul class="messages"></ul>
        <form id="form" action="#">
            <div class="send-box">
                <input type="text" name="message" autocomplete="off"/>
                <button type="submit" class="send-btn">보내기</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="js/socket.io.js"></script>
    <script>
        const socket = io();
        const form = document.getElementById('form');
        const message = document.querySelector('input[name=message]');
        form.addEventListener('submit', e => {
            e.preventDefault();
            socket.emit('chat message', message.value);
            message.value = '';
            return false;
        });
        let wordToggle = true;
        const messages = document.querySelector('.messages');
        socket.on('chat message', msg => {
            if (msg === '') return false;
            const msgContent = document.createElement("li");
            if (wordToggle === true) {
                msgContent.classList.add("word", "word--black");
                wordToggle = false;
            }
            else {
                msgContent.classList.add("word", "word--white");
                wordToggle = true;
            }
            msgContent.appendChild(document.createTextNode(msg));
            messages.appendChild(msgContent);
            messages.scrollTop = messages.scrollHeight;
        });
    </script>
</body>
</html>