@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&subset=korean');

* {
    margin: 0;
    padding: 0;
    font: 20px 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    border: 1px solid #a9a9a9;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: bold;
}

.messages {
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
}

.word {
    display: flex;
    align-items: center;
    padding: 5px;
}

.word--black {
    background: #000;
    color: #fff;
}

.word--white {
    background: #fff;
    color: #000;
}

#form{
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
    background: #000;   
}

.send-box {
    display: flex;
    justify-content: center;
}

.send-box > input[name="message"] {
    width: 85%;
    font-size: 20px;
    height: 30px;
}

.send-box > .send-btn {
    width: 50px;
    font-size: 15px;
    border: 1px solid #A9A9A9;
    box-shadow: 0 0 6px #fff;
    background: #000080;
    color: #fff;
    cursor: pointer;
}