<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>
      Welcome to 
      <% if (user !== null) { %>
        <%= user.name %>
      <% } else { %>
        <span>GUEST</span>
      <% } %>
    </p>
  </body>
</html>
